.container .card-header span {
    padding-left: 78px;
}

.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-header {
    text-align: left;
    font-size: small;
}

.row {
    padding-bottom: 30px;
}