body {
    width: 800px;
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 0 75px 90px 100px;
    border: 10px solid black;
    

  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: darkblue;
   
      
  }
  h3{
    color: darkblue;
  }
 
 
  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.title{
    line-height: 0.1rem;
}
.title1{
    line-height: 2em;
}
.title3{
    padding-right: 170px;
}
