

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.box
{

    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(77, 175, 199);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0, 0.1);
    
}

.box .left_side
{
    position: relative;
    background-color: #003147;
    padding: 40px;

}
.box .right_side
{
    position: relative;
    background-color: white;
    padding: 40px;

}




.profiletext
{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.profiletext .imgbox
{
position: relative;
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
}
.profiletext .imgbox img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2
{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;

}
.profiletext h2 span
{
    font-size: 0.8;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 40px;
}
.title
{
   color: white; 
   text-transform:uppercase;
   font-weight: 600;
   margin-bottom: 20px;
}
.contactinfo ul
{
    position: relative;
}
.contactinfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: aqua;
}
.contactinfo ul li span
{
    color: white;
    font-weight: 300;
}

.education h3{
    color:white;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.education li{
    margin-bottom: 15px;
    list-style: none;
}
.education li h4{
    color: white;
    font-weight: 600;
}

.education li h5
{
    color:white;
    font-weight: 550;
}
.languages h3
{
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.languages li
{
    margin-bottom: 15px;
    list-style: none;  
}
.languages li h4
{
    color: white;
    font-weight: 600;
}
.about
{
    margin-bottom: 50px;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
color: #333;
}
